[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2
	branch = v2.x
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "lib/sciplot"]
	path = lib/sciplot
	url = https://github.com/sciplot/sciplot
